img.doggos {
	float: right;
	margin 3px;
	width: 200px;
	border 1px solid black;
}
img.photo {
	float: left;
  width: 100px;
  margin: 3px;
	border: 1px solid black;
}
.sidebar img {
  width: 75px;
}
.container {
  max-width: 960px;
  background-color: white;
}	
.form-group {
  width: 600px;
}
.work {
  /* Positioning */
  position: relative;
  float: left;

  /* Box-model */
  width: 274px;
  margin: 20px 5px 25px 5px;
  overflow: auto;
}
.work img {
  /* Box-model */
  width: 100%;

  /* Visual */
  border: 0 none;

  /* Misc */
  opacity: 0.9;
}
.work h3 {
  /* Positioning */
  position: absolute;
  bottom: 20px;
  width: 100%;

  /* Box-model */
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;

  /* Typography */

  color: #fff;
  text-align: center;
  background: #4aaaa5;

  /* Visual */
  border-bottom: 0;
}




@media only screen and (max-width:980px) {
  .main-section {
    background-color: lightgray;
  }
  .sidebar img {
    width: 150px;
  }
  .work {
    width: 47%;
  }
  nav {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .main-section,
  .sidebar {
		max-width: 100%;
		background-color: lightgreen;
  }
  .form-group {
    width: 550px;
  }
}
@media only screen and (max-width: 640px){
  .sidebar img {
    width: 100px;
  }
  .main-section,
  .sidebar {
		max-width: 100%;
		background-color: pink;
  }
  .form-group {
    width: 350px;
  }
  .work {
    width:100%;
  }
}


body {
  background: url("../images/concrete_seamless.png");
}


footer {
  /* Box-model */
	width: 100%;
	/* Positioning */
	position: fixed;
	font-size: 0.8em;
	left: 0;
  bottom: 0;
  /* Typography */
  color: #ccc;
  text-align: center;
  /* Visual */
	background-color: #666666;
	border-top: 3px solid #4aaaa5;
}


 